.filters {
  position: relative;
  background-color: #FFFFFF;
  height: 70px;
  width: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  display: flex;
}
.filters div {
  position: relative;
  min-width: 200px;
  height: 100%;
  width: 25%;
}

.filters div .popover {
  z-index: 100;
  visibility: hidden;
  position: relative; 
  top: 100%;
  left: 0px;
  background-color: #FAFAFA;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  margin: 0px -1px 0px -1px;
}
.filters div:hover .popover {
  visibility: visible;
}
.filters .locations {
  border-right: 1px solid #DDDDDD;
}
.filters div h3 {
  margin: 12px auto 0px 50px;
  position: absolute;
  top: 0px;
  height: 35px;
  font-weight: 600;
}
.filters div h4 {
  margin: 0px auto 12px 50px;
  position: absolute;
  top: 35px;
  height: 35px;
  font-weight: 400;
  font-size: 14px;
}
.filters button {
  float: right;
  font-size: 18px;
  background-color: #FF5A5F;
  color: #FFFFFF;
  height: 48px;
  width: 20%;
  margin: auto 30px auto auto;
  border-radius: 4px;
}
.filters button:hover {
  opacity: 0.9;
}
ul {
  list-style-type: none;
}


