header {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-color: #FFFFFF;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
